*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Source Sans Pro;
    color:red;
    background-color: rgb(229, 247, 229);
    min-width: 320px;
}
.indexcontainer{
    display: grid;
    height: 100% ;
    grid-template-columns: 10px auto 10px;
    grid-gap: 9px;
    grid-template-areas:
    ". n ."
    ". h ."
    ". a ."
    ". m ."
    ". f .";
}
nav{
    grid-area: n ;
    margin-top: 10px;
    background-color: rgb(255, 255, 172);
}
.nav{    
    display: flex; 
    justify-content: space-between;
    border: thin solid blue;
    list-style: none;
    padding: 10px 14px;
}  
a:visited{
    color: blue;
}
a:hover{
    color: lightcoral;
}
.pageheader{
    display:flex;
    flex-flow: column nowrap; 
    align-items: center;
    border: 1px solid blue;
    grid-area: h;
}
img{max-width: 100%;
    height: auto;
}
.pageheader h1{
    font-size: 8vw;
    padding: 5px 0 10px;
}
.pageheader h2{
    font-size: 4vw ;
    padding: 5px 10px 10px;
}
.piccontainer{
    position: relative;
    color:green;
    font-family: Fontdiner Swanky;
    font-size: 14px;
    font-weight: bold;
}
.text_on_pic {
    position: absolute;
    top: 3px;
    right: 16px;
  }
aside{
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    grid-area: a;
    font-family: 'Times New Roman', Times, serif;
    background-color:ivory;
    border: 10px ridge rgb(98, 230, 186)
}
aside p{
    font-style: italic;
    align-self: flex-end;
    margin-top: 2px;
    margin-right: 15px;
}
aside h2{
    font-size: 6vw;
    padding: 2px 5px;
}
main{
    grid-area: m;
    color: darkblue;
    background-color: ivory;
    padding: 5px 10px;
    box-sizing: border-box; 
}
section{
    margin-top: 10px;
}
.articleheader{
    font-size: 6vw;
    font-variant: small-caps;
    padding-bottom: 10px;
}

footer{
    grid-area: f;
    justify-self: self-end;
    padding-bottom: 15px;
}
.teamelement{
    margin:1em 1.5em ;
}
.teamwrapper >*{
    display: flex;
    width: 260px;
    background-color: rgb(194, 240, 172);
    padding: 10px;
    margin: 1em;
    border: 3px solid;
    border-radius: 25px
}
.teamwrapper img{
    border-radius: 75px;
    margin-right: 20px;
}
form{
    width: 320px;
}
form >* {
    margin: 10px 20px;
}
.block{
    display: block;
}
.buttons{
    display:flex;
    margin-top: 30px;
    width: 220px;
    justify-content: space-between;
}
.buttons input{
    background-color: violet;
    padding: 10px 10px
}
button{
    background-color:blue;
    color: whitesmoke;
    padding: 10px 90px;
    margin: 20px;
}
@media (min-width: 600px){
article{
   display:grid;
   grid-template-columns: 1fr 10px 1fr;
   grid-template-areas:  
   "ah ah ah"
   "s1 . s2"
   "s3 . s4"
} 
.articleheader{
    grid-area: ah;
}
.section1{
    grid-area: s1;
}
.section2{
    grid-area: s2;
}
.section3{
    grid-area: s3;
}
.section4{
    grid-area: s4;
}
.teamelement{
    margin:1em 1.5em ;
}
.teamwrapper >*{
    display: flex;
    width: 380px;
    background-color: rgb(194, 240, 172);
    padding: 1em 2em;
    margin: 1em;
    border: 3px solid;
    border-radius: 25px
}
}
@media (min-width: 1024px){
.indexcontainer{
    display: grid;
    height: 100% ;
    grid-template-columns: 10px 1fr 10px 1fr 10px;
    grid-gap: 9px;
    grid-template-areas:
    ". n n n ."
    ". h . m ."
    ". a . m ."
    ". f f f .";
}
.pageheader{
    display:flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-around;
    border: 1px solid blue;
    grid-area: h;
}
.pageheader h1{
    font-size: 4vw;
}
.pageheader h2{
    font-size: 3.2vw;
}
aside{
    display: flex; 
    flex-flow: column nowrap;
    grid-area: a;
    font-family: 'Times New Roman', Times, serif;
    background-color:ivory;
    border: 10px ridge rgb(98, 230, 186)
}
aside h2{
    font-size: 3vw;
    margin-bottom: auto ;
}
aside p{
    margin-bottom: auto;
}
.articleheader{
    font-size: 40px;
}
}